doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Introduction of Nodyn

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-okaidia.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Node.jsがJVMにやってきた
        h2 - Introduction of Nodyn -

        p 東京Node学園 12時限目 #thg12
        p
          a(href="https://twitter.com/grimrose", target="_blank")  @grimrose

      section(data-bespoke-state='emphatic')
        pre
          code.language-groovy.
            import groovy.json.*

            def json = new JsonBuilder()
            json {
                自己紹介 {
                    "@grimrose" {
                        好きな言語 "Groovy"
                        好きなIDE "IntelliJ IDEA"
                        コミュニティ "Yokohama.groovy", "#yokohamagroovy"
                    }
                }
            }
            println StringEscapeUtils.unescapeJava(json.toPrettyString())
        a(href="http://groovyconsole.appspot.com/", target="_blank") groovyconsole.appspot.com

      section
        h3 東京Node学園祭2013
        p
            a(href="http://grimrose.blogspot.jp/2013/10/node2013-nodefest.html", target="_blank") 東京Node学園祭2013 に参加してきました #nodefest

      section
        <blockquote class="twitter-tweet" lang="ja"><p>Nodyn.io使ってたりJXCore試してみた、って人いたら教えてもらいたい <a href="https://t.co/LkxbDwGqpW">https://t.co/LkxbDwGqpW</a></p>&mdash; Yosuke FURUKAWA (@yosuke_furukawa) <a href="https://twitter.com/yosuke_furukawa/statuses/440807889708400640">2014, 3月 4</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      section
        h2.bullet 話すこと
        ul
            li Nodyn
            li Vert.x
            li Netty
            li Node.js API
            li Demo

      section
        h2 Nodynって何?

      section
        h2 Nodyn
        p is a node.js compatible framework, running on the JVM powered by the DynJS Javascript runtime running under vert.x
        p
            a(href="http://nodyn.io", target="_blank") nodyn.io

      section
        h2 Nodyn
        p
          blockquote Imagine running your Node.js app on the JVM with clean, clear access to Java directly in your Javascript. All that with vert.x's powerful clustering technology built right in.
        p
            a(href="http://nodyn.io", target="_blank") nodyn.io

      section
        h2 Nodyn
        p DynJS
        P +
        p lang-dynjs
        p +
        p Vert.x

      section
        h2 DynJS
        p is an ECMAScript runtime for the JVM.
        p
            a(href="http://dynjs.org", target="_blank") dynjs.org

      section
        h2 Vert.xって何?

      section
        h2 Vert.x
        p is a lightweight, high performance application platform for the JVM that's designed for modern mobile, web, and enterprise applications.
        p
            a(href="http://vertx.io", target="_blank") vertx.io

      section
        h2 Vert.x がいいね！
        h3 （第1回：入門する）

        p
          a(href="http://acro-engineer.hatenablog.com/entry/2013/08/10/131203", target="_blank") http://acro-engineer.hatenablog.com/entry/2013/08/10/131203
        p written by
            a(href="https://twitter.com/muraken720", target="_blank") @muraken720

      section

          <iframe src="http://www.slideshare.net/slideshow/embed_code/28096272" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/acroquest/an-introduction-to-vertx" title="An Introduction to Vert.x" target="_blank">An Introduction to Vert.x</a> </strong> from <strong><a href="http://www.slideshare.net/acroquest" target="_blank">Acroquest Technology</a></strong> </div>

      section
        h2 Nettyって何?

      section
        h2 Netty
        p is an asynchronous event-driven network application framework for rapid development of maintainable high performance protocol servers & clients.
        p
            a(href="http://netty.io/index.html", target="_blank") netty.io

      section
        h2.bullet Netty
        p
            a(href="http://twitter.github.io/finagle/", target="_blank") Finagle
        p
            a(href="http://www.playframework.com", target="_blank") Play Framework
        p
            a(href="http://vertx.io", target="_blank") Vert.x
        p etc...

      section
        h2 Nettyの基本

        p
            a(href="http://d.hatena.ne.jp/fatrow/20110208/netty", target="_blank") http://d.hatena.ne.jp/fatrow/20110208/netty

      section

          <iframe src="http://www.slideshare.net/slideshow/embed_code/10596642" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/ts7i/learning-netty" title="Netty 入門 - 「Netty ベース」の何かに着手する前に" target="_blank">Netty 入門 - 「Netty ベース」の何かに着手する前に</a> </strong> from <strong><a href="http://www.slideshare.net/ts7i" target="_blank">Takuma SHIRAISHI</a></strong> </div>

      section

          <iframe src="http://www.slideshare.net/slideshow/embed_code/8788357" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/tanago3/netty" title="Nettyらへん" target="_blank">Nettyらへん</a> </strong> from <strong><a href="http://www.slideshare.net/tanago3" target="_blank">Go Tanaka</a></strong> </div>

      section
        h2 Reactive Streams
        p
            a(href="http://www.reactive-streams.org", target="_blank") www.reactive-streams.org

      section
        h2 詳しくは
        h3 非同期ストリーム処理の標準化を目指す "Reactive Streams" とは
        p
            a(href="http://okapies.hateblo.jp/entry/2014/04/20/212821") http://okapies.hateblo.jp/entry/2014/04/20/212821

      section
        h2 Vert.x
        h2 と
        h2 JavaScript

      section
        h2 …その前に

      section
        h2 JavaとJavaScript
        p
            a(href="https://www.google.co.jp/search?q=java+javascript+違い&oe=UTF-8", target="_blank") java javascript 違い

      section
        h2 JavaScript on JVM
        p
            a(href="http://d.hatena.ne.jp/Nagise/20140227/1393500657", target="_blank") Java書けるんなら当然JavaScript呼び出せるよね？

      section(data-bespoke-state='emphatic')
        h3 Java書けるんなら当然JavaScript呼び出せるよね？
        pre
          code.language-java.
            import javax.script.*;

            public class Sample {
                public static void main(String[] args) throws ScriptException {
                    ScriptEngineManager manager = new ScriptEngineManager();
                    ScriptEngine engine = manager.getEngineByName("js");
                    engine.eval("println('Hello Script API');");
                }
            }

        p
            a(href="http://d.hatena.ne.jp/Nagise/20140227/1393500657", target="_blank") http://d.hatena.ne.jp/Nagise/20140227/1393500657

      section

          <iframe src="http://www.slideshare.net/slideshow/embed_code/32565546?rel=0&startSlide=115" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/OracleMiddleJP/new-feature-of-java-se-8" title="New Feature Of Java SE 8" target="_blank">New Feature Of Java SE 8</a> </strong> from <strong><a href="http://www.slideshare.net/OracleMiddleJP" target="_blank">Oracle Fusion Middleware</a></strong> </div>

      section
        h2 JavaScript Runtime
        h2 for Vert.x
        h3 DynJS
        h3 Rhino (Java 6, 7)
        h3 Nashorn (Java 8 ~)

      section
        h2 e.g. Web Server

      section(data-bespoke-state='emphatic')
        h2 Node.js Web Server
        pre
            code.language-javascript.
              var http = require('http');
              http.createServer(function (req, res) {
                res.writeHead(200, {'Content-Type': 'text/plain'});
                res.end('Hello World\n');
              }).listen(1337, '127.0.0.1');
        p
            a(href="http://nodejs.org", target="_blank") http://nodejs.org

      section(data-bespoke-state='emphatic')
        h2 Vert.x Web Server
        pre
          code.language-javascript.
            var vertx = require('vertx');
            vertx.createHttpServer().requestHandler(function(req) {
              req.response.headers['Content-Type'] = "text/plain";
              req.response.statusCode(200).end("Hello World");
            }).listen(8080, 'localhost');

        p
            a(href="http://vertx.io/core_manual_js.html#writing-http-servers", target="_blank") http://vertx.io/core_manual_js.html#writing-http-servers

      section
        h2 Node.jsとどう違うの?

      section
        h2
          a(href="http://nodyn.io/compatibility/", target="_blank") Node.js API Compatibility

      section
        h3 Nodyn Completion of the Node.js API
        p
          blockquote Node.jsのpure JavaScriptのコードは、そのまま利用している
        p
          blockquote Cを使ったモジュールについては、Javaで書き直している
        p
            a(href="http://nodyn.io/compatibility/", target="_blank") http://nodyn.io/compatibility/

      section
        h3 Complete
        p Assert
        p DNS
        p Events
        p Modules
        p Path
        p Punycode
        p Query Strings
        p STDIO
        p Stream
        p Timers
        p UDP/Datagram
        p URL
        p Utilities

      section
        h3 Complete but ...
        p HTTP
            a(href="http://nodyn.io/api/http/", target="_blank") (詳細)
        p Net
            a(href="http://nodyn.io/api/net", target="_blank") (詳細)
        p Globals

      section
        h3 In progress
        p Buffer
            a(href="http://nodyn.io/api/buffer", target="_blank") (詳細)
        p Crypto
        p File System

      section
        h3 Other
        p C Addons
        p Child Processes
        p Cluster
        p Debugger
        p Domain
        p HTTPS
        p OS
            a(href="http://nodyn.io/api/os", target="_blank") (詳細)
        p Process
        p Readline
        p REPL
        p String Decoder
        p TLS/SSL
        p TTY
        p VM
        p ZLIB

      section
        h1 Demo

      section(data-bespoke-state='emphatic')
        h2 demo_server.js
        pre
            code.language-javascript.
              var http = require('http');
              http.createServer(function (req, res) {
                res.writeHead(200, {'Content-Type': 'text/plain'});
                res.end('Hello World\n');
              }).listen(1337, '127.0.0.1');

        p
            a(href="http://nodejs.org", target="_blank") http://nodejs.org

      section(data-bespoke-state='emphatic')
        h2 node demo_server.js
        h2
            a(href="http://localhost:1337", target="_blank") Hello World

      section(data-bespoke-state='emphatic')
        h2 langs.properties
        pre
          code.language-java.
            #// 一行で
            nodejs=org.projectodd~nodyn-verticle~0.1.1-SNAPSHOT\
            :org.projectodd.nodyn.NodeJSVerticleFactory
            #// .jsと.coffeeをnodynで使う
            .js=nodejs
            .coffee=nodejs

      section(data-bespoke-state='emphatic')
        h2 vertx run demo_server.js
        h2
            a(href="http://localhost:1337", target="_blank") Hello NoDyn!

      section
        h2 ご清聴
        h2 ありがとうございました。

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-java.js')
    script(src='bower_components/prism/components/prism-groovy.js')
    script(src='scripts/main.js')
    // endbuild
